.bg-secondary {
    background-color: #2c3e50 !important;
}

.copyright {
    background-color: #1a252f;
}

.bg-primary {
    background-color: #ae00ff !important;
}

.bg-card-header {
    background-color: rgba(174, 0, 255, 0.3) !important;
}

.custom-badge {
    background-color: #C57525;
    color: #ffffff;
}

.rating {
    color: gold;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.img-card-recipe{
    width:100% !important;
    height: 150px !important;
    object-fit: cover;
}

.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}

.small {
    font-size: 0.9em;
}

html,
body {
    height: 100%;
}

.main {
    min-height: 80%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
}

.pricing-header {
    max-width: 700px;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: rgba(33, 37, 41, 0.75);
}

.text-center {
    text-align: center;
}

.p-3 {
    padding: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.shadow-sm {
    box-shadow: var(--bs-box-shadow-sm) !important;
}

#format {
    width: auto; 
    padding:5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    text-align: center;
    cursor: pointer;
    text-align-last: center;
}

#format option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
}

.icon-button {
    background-color: white; /* Color de fondo del botón */
    border: none;
    color: #ae00ff;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.position-fixed {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 1.5rem;
    color: #000;
    opacity: 0.8;
  }
  .modal-header .close:hover {
    opacity: 1;
  }

.btn-modal{
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-modal:hover {
    background-color: #5930a3; 
    border-color: #5930a3; 
}

.flex-container-end {
    margin-top: 20px; 
    margin-right: 10px; 
    margin-left: 10px; 
}
